:root {
    --colorSecundario: rgb(71, 189, 184);
    --colorNavbar: rgb(42, 55, 70);
    --colorError: rgb(246, 0, 21);
    --colorTitulos: rgb(124, 127, 130);
    --colorDisponible: rgb(0, 215, 20);
    --colorOcupado: rgb(187, 107, 4);
    --colorCobro: rgb(211, 25, 196);
    --colorSobremesa: rgb(191, 196, 17);
    --colorlogin: rgb(221, 221, 215);
    --colorInputsLogin: rgb(255, 255, 255);
    --colorRejolInput: rgb(131,163,77);
    --colorIconoLogin: rgb(204, 204, 204);
    --hoverImegen: rgba(0,0,0,0.5);
}
/* -------------------------------------------------------- */

/* ! pantalla de carga de login */
.loader {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}
@media(max-width: 540px){
    .loader{
        margin-left: 10em;
    }
}

/* --------------------------------------------------------- */
/* fondo login */
#bodylogin {
    background-image: url('../img/fondobueno.jpeg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

/* ------------------------------------------------------------ */
/* ! Estilos de la pagina Not Found 404 error/index */
.bodynotfound {
    background: var(--colorNavbar);
}

.notfoundtitulo {
    text-align: center;
    margin: 200px 0 20px 0;
    color: darkorange;
    font-family: monospace;
}

.notfoundlink {
    text-align: center;
    color: orange;
    font-family: monospace;

}

.notfounddiv {
    text-align: center;
    margin-top: 30px;
}

.notfoundenlace {
    text-decoration: none;
    color: white;
    font-family: monospace;
}

.notfoundenlace:hover {
    color: white;
}

.notfoundboton {
    background: darkorange;
}

/* ------------------------------------------------------------------------------ */

/* ! Desde aqui comienza estilos de la hoja de trabajo header.php */
/* * navbar */
.navbar{
    background: transparent !important;
    padding: 1.5em;
    transition: 0.6s;
}

/* *Estilos de los items del navbar */
.navbar .navbar-nav .nav-link{
    color: black;
    font-family: sans-serif; 
    font-size: 1em;  
}
/* *Estilo del scroll */
.scrollActive{
    background-color: var(--colorSecundario) !important;
} 
/* * color de los links cuando scoll esta activo */
.scrollActive .navbar-nav .nav-link, .scrollActive .navbar-brand{
    color: white;
}
/* *Cambio de color de los links cuando esta activo el scroll */
.scrollActive .navbar-nav .nav-link:hover{
    color: black !important;
}

/* * Narvbar Brand */
.navbar-brand{
    font-family: 'Oswald', cursive;
    font-size: 1.5em;
    letter-spacing: 1px;
}

/* *Espacio entre los items de la barra */
.navbar-nav .nav-item{
    margin-right: 0.7em;
}
/* *Efecto hover al pasar por los links */
.navbar .navbar-nav  .nav-link:hover {
    color: rgb(151, 151, 151);
}

/* *Estilos del dropdown */
.navbar-nav .dropdown-menu{
    padding: 1em;
}
.navbar-nav .dropdown-menu .dropdown-item{
    font-family: 'Oswald', cursive;
    padding: 1em;
}

/* * Este estilo es del circuco de activo a un lado del nombre */
.navbar .optlog .circulo {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background: #5cb85c;
    display: inline-block;
    margin: auto;
}

/* -------------------------------------------------------------------------- */
/* ! footer */
.footer {
    width: 100%;
    position: absolute;
    left: 0;
}

/* ------------------------------------------------------------------------- */

/* ! Formulario de inicio de sesion views/login */
/* * Estilo principal del login */
.formLogin {
    background: var(--colorlogin);
    width: 100%;
    padding: 25px 40px;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgb(0 0 0 / 30%);
}

/* * Color del titulo Bienvenido del inicio de sesion */
.formLogin .form-title{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

/* * Iconos dentro de los inputs */
.formOption input[type=text]{
    padding-left: 2.35em;
}
.formOption input[type=password]{
    padding-left: 2.35em;
}

.formOption{
    position: relative;
}

.formOption i{
    position: absolute;
    left: 0;
    top: 0.4em;
    padding: 0.4em 1em;
    color: var(--colorIconoLogin);
    transition: .3s;
}

.formOption input[type=text]:focus + i{
    color: var(--colorRejolInput);
}
.formOption input[type=password]:focus + i{
    color: var(--colorRejolInput);
}

/* *Al clickear en un input su borde cambiar de color */
.formOption input{
    transition: .4s;
}
.formOption input:focus{
    border-color: var(--colorRejolInput);
    box-shadow: 0 0 8px 0 var(--colorRejolInput);
}

/* * Estilo general de los inputs */
.formLogin .form-control {
    background: var(--colorInputsLogin);
    font-size: 1rem;
    padding: .6em .3em;
    border-radius: 0.5em;
    outline: none;
    box-shadow: 1px solid black;
}

/* * Estilo principal del reloj dentro del login*/
.wrap {
    color: var(--colorRejolInput);
    width: 100%;
}

/* * Tamaño de los objetos */
.widget {
    width: 100%;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}
/*  * fin de tamaño de los objetos */

/*  * Estilo de la fecha */
.fecha {
    font-family: 'Oswald', sans-serif;
}

/* * Estilo del reloj */
.reloj {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    /* padding: 10px; */
    font-size: 2em;
    text-align: center;
}

.reloj .caja-segundos {
    display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
    font-size: 0.3em;
    display: block;
}
/* *fin es estilos del reloj */

/* *Estilo general del boton */
.formOption .btnLogueo{
    border: 3px solid rgba(100, 100, 100, 0.1);
    padding: 0.5em;
    width: 10em;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    border-radius: 0.6em;
    cursor: pointer;
    color: #fff;
    background-size: 300%;
    transition: 0.6s;
    justify-items: self-start;
}

/* *Degradado del boton */
.btnLogueo{
    background-image: linear-gradient(to right, #a6c45b, #7ca33e, #628630);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* *animacion de boton logueo */
.btnLogueo:hover{
    background-position: right;
}

/* *Estilo general de ref olvide contraseña */
.olvidePass{
    text-decoration: none;
    color: black;
}

/* * links de constraseña y boton de loguo */
.formLinks{
    display: flex;
    justify-content: space-between;
}
.formLinks  p {
    margin: 0.5em;
}
/* * Estilo de la imagen que acompaña el login */
.box{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 15em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}
.imgLogin{
    width: 100%;
    max-width: 100%;
    display: block;
    height: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

/* * Media queries del login */
@media only screen and (max-width: 1600px){
    .box{
        margin-top: 8em;
        margin-right: -4.5em;
        margin-left: 12em;
    }
}
@media only screen and (max-width: 1440px){
    .box{
        margin-top: 14em;
        margin-right: 1.5em;
        margin-left: 9em;
    }
}
@media only screen and (max-width: 1280px){
    .box{
        margin-top: 7em;
        margin-right: 1.5em;
        margin-left: 6.5em;
    }
}
@media only screen and (max-width: 1240px){
    .box{
        margin-top: 14em;
        margin-right: 1.5em;
        margin-left: 7em;
    }
}
@media only screen and (max-width: 1024px){
    .box{
        margin-top: 13em;
        margin-right: 3em;
        margin-left: 4em;
    }
}
@media only screen and (max-width: 425px){
    .box{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .imgLogin{
        display: none;
    }
}
@media only screen and (max-width: 320px){
    .box{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .imgLogin{
        display: none;
    }

    .formLinks{
        display: block;
    }
}

/* ------------------------------------------------------------------------------- */
/* !!! Estilo de la alerta de errores de jQuery !!! */
span.error {
    color: red;
    font-size: 1em;
    font-family: monospace;
}

/* -------------------------------------------------------------------------------- */
/* ! Dashboard */
/* * Opciones principales en el inicio del dashboard/index */
.div-menu{
    padding: 3.5em;
}
.div-menuCompleto{
    display: flex;
    justify-content: center;
}

/* *Titulo de la pagina menu completo */
.div-menuCompleto h1{
    font-size: 2em;
    font-weight: lighter;
}
/* *estilo del hr debajo del titulo de menucompleto */
.hr--small{
    width: 100px;
    margin: auto;
}

/* *Fondo de la imagenes */
.wrapMenu{
    position: relative;
    height: 250px;
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden !important;
    padding: 0;
    margin: 0 0.5em 1em 0.5em;
}

/* *Imagenes del menu completo */
.imgMenu{
    width: 110%;
    height: 100%;
    transition: all 1.1s;
}

/* *fondo negro sobre las imagenes */
.infoMenu{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--hoverImegen);
    text-align: center;
}
.infoMenu h1{
    margin-top: 2.2em;
    color: white;
}

/* *Animacion de las imagenes */
.wrapMenu:hover  .imgMenu{
    transform: scale(1.05);
}

/* * Media para el menu */
@media (max-width: 500px){
    .rowMenu{
        display: block;
    }
    .wrapMenu{
        margin: 0.5em 0 -1.5em -0.5em;
        padding: 1em;
    }
    .infoMenu{
        padding: 1em;
        width: 100%;
        height: 87%;
        margin-top: 1em;
    }
    .ultimoWrapMenu{
        margin-bottom: 0.5em;
    }
}
/* *espacion para colocar el footer al final */
.ultimoMenu{
    margin-bottom: 3em;
}

/* ! Estilos de la paginas de Mesasdisponibles  */
/* *Estilos de las etiquetas de los colores correspondientes a cada estatus de mesa */
.coloresMesa {
    margin: 5em 0 3em 0;
}

.coloresMesa h6 {
    padding: 1em;
    font-size: 0.9em;
    font-family: monospace;
    text-align: center;
    text-transform: uppercase;
}
/* *dispinible */
.mesaDisponible {
    background: var(--colorDisponible);
    border-radius: 2em;
}
/* *ocupada */
.mesaOcupada {
    background: var(--colorOcupado);
    border-radius: 2em;
}
/* *Cobro */
.mesaCobro {
    background: var(--colorCobro);
    border-radius: 2em;
}
/* *Sobremesa */
.mesaSobre {
    background: var(--colorSobremesa);
    border-radius: 2em;
}
/* *Estilo de la cabecera de la tabal */
.cabecera{
    padding: 1em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: sans-serif;
}
/* *Estilo de la tabla */
.table-mesas {
    text-align: center;
    font-family: monospace;
    font-size: 1em;
    text-transform: uppercase;
}

.table-mesas .table-estadoAC {
    font-size: 0.7em;
    /* border: black 1px solid; */
    width: 8em;
    margin: auto;
}

.btnEditarMesa {
    border-radius: 5px;
    font-size: 1.3em;
    background: deepskyblue;
}

.formModalMesas .form-control {
    text-align: center;
    font-family: monospace;
}

/*  */
.spaceFooter{
    margin-bottom: 15em;
}

/* ! Nueva orden */
.btnNuevaorden{
    display: flex;
    justify-content: space-evenly;
}