:root {
    --colorSecundario: rgb(255, 86, 207);
    --colorNavbar: rgb(42, 55, 70);
    --colorError: rgb(246, 0, 21);
    --colorTitulos: rgb(124, 127, 130);
    --colorDisponible: rgb(0, 215, 20);
    --colorOcupado: rgb(187, 107, 4);
    --colorCobro: rgb(211, 25, 196);
    --colorSobremesa: rgb(191, 196, 17);
    --colorlogin: rgb(221, 221, 215);
    --colorInputsLogin: rgb(255, 255, 255);
    --colorRejolInput: rgb(131,163,77);
    --colorIconoLogin: rgb(204, 204, 204);
    --hoverImegen: rgba(0,0,0,0.5);
    --colorPrincipal: #FFD8FB;
    --colorLetras: #b59162;
}
/* --------------------------------------------------------- */
/* fondo login */
/* #bodylogin {
    background-image: url('../img/fondobueno.jpeg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
} */
body{
    background: var(--colorPrincipal);
}
.lineas{
    color: white;
    height: 0.2em !important;
}
.corazones{
    height: auto;
    width: 2em;
}
.nombres{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    color: var(--colorLetras);
}
.nombres p{
    font-size: 5em;
    color: var(--colorLetras);
}
/* @media(max-width: 375px){
    .nombres{
        font-family: 'Dancing Script', cursive;
        font-size: 0.5em;
    }
    .nombres p{
        font-size: 0.2em;
    }
} */
@media(max-width: 460px){
    .nombres{
        font-family: 'Dancing Script', cursive;
        font-size: 1em !important;
    }
    .nombres p{
        font-size: 2em !important; 
    }
}
@media(max-width: 980px){
    .nombres{
        font-family: 'Dancing Script', cursive;
        font-size: 2em;
    }
    .nombres p{
        font-size: 3em;
    }
}

/* ------------------------------------------------------------ */
/* ! Estilos de la pagina Not Found 404 error/index */
.bodynotfound {
    background: var(--colorNavbar);
}

.notfoundtitulo {
    text-align: center;
    margin: 200px 0 20px 0;
    color: darkorange;
    font-family: monospace;
}

.notfoundlink {
    text-align: center;
    color: orange;
    font-family: monospace;

}

.notfounddiv {
    text-align: center;
    margin-top: 30px;
}

.notfoundenlace {
    text-decoration: none;
    color: white;
    font-family: monospace;
}

.notfoundenlace:hover {
    color: white;
}

.notfoundboton {
    background: darkorange;
}

/* ------------------------------------------------------------------------------ */

/* ! Desde aqui comienza estilos de la hoja de trabajo header.php */
/* * navbar */
.navbar{
    background: transparent !important;
    padding: 0 1em 0 1em;
    transition: 0.6s;
}
.navbar a{
    font-size: 2.5em;
}

/* *Estilos de los items del navbar */
.navbar .navbar-nav .nav-link{
    color: var(--colorLetras);
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;  
}
/* *Estilo del scroll
.scrollActive{
    background-color: var(--colorSecundario) !important;
}  */
/* * color de los links cuando scoll esta activo */
.scrollActive .navbar-nav .nav-link{
    color: white;
}
/* *Cambio de color de los links cuando esta activo el scroll */
.scrollActive .navbar-nav .nav-link:hover{
    color: var(--colorLetras);
}

/* * Narvbar Brand */
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    letter-spacing: 1px;
}

/* *Espacio entre los items de la barra */
.navbar-nav .nav-item{
    margin-right: 0.7em;
}
/* *Efecto hover al pasar por los links */
.navbar .navbar-nav  .nav-link:hover {
    color: rgb(0, 0, 0);
}




/* ------------------------------------------------------------------------------- */
/* !!! Estilo de la alerta de errores de jQuery !!! */
span.error {
    color: red;
    font-size: 1em;
    font-family: monospace;
}
